.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  width: 280px;
  margin: 40px auto;
  padding: 20px 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

h2 {
  margin-bottom: 20px;
  color: #000;
}

/* Timer wrapper */
.timerWrapper {
  background-color: #e5d4f7; /* light purple */
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 15px;
}

/* Timer inside wrapper */
.timer {
  color: #000;
}

/* Countdown display */
.timeDisplay {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  color: #4a2f87;
  letter-spacing: 1px;
}

/* Progress bar */
.progressBarContainer {
  height: 6px;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0 20px 0;
}

.progressBar {
  height: 100%;
  background-color: #7a3fff;
  transition: width 1s linear;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clockIcon{
  padding-right: 10px;
}

.pauseBtn {
  background-color: #7a3fff; /* default purple */
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.pauseBtn:hover {
  transform: scale(1.05);
}

/* When timer is running, Start button turns red */
.running {
  background-color: #e94b35; /* red while running */
}

.running:hover {
  background-color: #d13a28; /* darker red on hover */
}

.resetBtn {
  background-color: #766d6d;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.resetBtn:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}
